@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    nav p {
        margin-bottom: 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .trainings {
        flex-direction: column;
    }

    .trainings div {
        width: 50%;
    }

    .instructors-pic {
        flex-direction: column;
    }

    .classes li {
        width: 45%;
    }

    .getInTouch {
        flex-direction: column;
        margin: 0 auto;
        overflow: unset;
        justify-content: space-evenly;
    }

    .form {
        width: 95%;
    }

    .map:after{
        padding-top: 6%;
    }

    .map img {
        position: static;
        transform: none;
    }

    .site-footer .wrapper {
        flex-wrap: wrap;
    } 

    .site-footer .wrapper .about{
        flex-basis: 100%;
    }
}