main {
    width: 700px;
    height: 500px;
    margin: 60px;
}

.new {
    position: relative;
    top: -200px;
    right: 150px;
}


/* main {
    width: 700px;
    height: 500px;
    margin: 60px;
    position: relative;
}

.new {
    position: absolute;
    top: -60px;
    right: 220px;
} */