html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: 20px;
}

article {
    width: 60%;
    float: left;
}

img {
    width: 80%
}


aside {
    padding-left: 30px;
    display: inline-block;
    width: 30%;
}

aside ul li {
    text-indent: 12px;
    list-style-type: square;
    line-height: 20px;
}