html {
    font-family: Helvetica, sans-serif;
    padding: 30px;
}

header  {
    border-bottom: 2px solid black;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: rgb(2, 168, 2);
    padding: 20px;
}

main h1 {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}